<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 group">
    <div class="compo compo1 p-3" title="Lights" data-title="switch" data-max="8">
        <h3>Light Switch<span>Max: 8</span></h3>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="dl" value="dl">
            <label class="form-check-label">
                Down Light
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="wl" value="wl">
            <label class="form-check-label">
                Wall Light
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="pl" value="pl">
            <label class="form-check-label">
                Panel Light
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="rl" value="rl">
            <label class="form-check-label">
                Rope Light
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="ex1" value="ex1">
            <label class="form-check-label">
                <input type="text" class="form-control" id="exv1">
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="ex2" value="ex2">
            <label class="form-check-label">
                <input type="text" class="form-control" id="exv2">
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="ex3" value="ex3">
            <label class="form-check-label">
                <input type="text" class="form-control" id="exv3">
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="ex4" value="ex4">
            <label class="form-check-label">
                <input type="text" class="form-control" id="exv4">
            </label>
        </div>
    </div>
</div>