<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 group">
    <div class="compo compo2 p-3" title="Scene" data-title="scenario" data-max="2">
        <h3>Scenario<span>Max: 2</span></h3>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="wg" value="wg">
            <label class="form-check-label">
                Welcome Guest
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="br" value="br">
            <label class="form-check-label">
                Bright
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="rs" value="rs">
            <label class="form-check-label">
                Relax Scene
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="ma" value="ma">
            <label class="form-check-label">
                Master
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="gm" value="gm">
            <label class="form-check-label">
                Good Morning
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="gn" value="gn">
            <label class="form-check-label">
                Good Night
            </label>
        </div>
    </div>
</div>