<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 group">
    <div class="compo compo4 p-3" title="Curtain" data-title="curtain" data-max="2">
        <h3>Curtain<span>Max: 2</span></h3>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="c1" value="Curtain One">
            <label class="form-check-label">
                Curtain One
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input al-room-check" type="checkbox" id="c2" value="Curtain Two">
            <label class="form-check-label">
                Curtain Two
            </label>
        </div>
    </div>
</div>