@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
body{
    font-family: "Poppins", Sans-serif;
}
.logo{
    max-width: 100px;
}
.login-page{
    height: 100vh;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.login-wrapper{
    position: relative;
    overflow: hidden;
    max-width: 400px;
    margin: auto;
}
.login-page .login-form, .login-page .otp-form{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.login-page .otp-form{
    position: absolute;
    top: 0;
}
.login-page .login-form input{
    height: 50px;
}
.login-page h2{
    color:#36356d;
    font-weight: 600;
}
.login-page h2 span{
    font-weight: 400;
}
.btn-blue{
    color: #fff;
    background-color: #aaa;
    border-radius: 0;
    min-width: 150px;
}
.btn-blue:hover{
    color: #fff;
    background-color: #36356d;
}
.btn-blue-dark,.btn-blue-dark:hover{
    color: #fff;
    background-color: #36356d;
    border-radius: 0;
    min-width: 150px;
}
.login-image{
    background-image: url(../img/image.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}
.otp{
    display: flex;
    gap: 1rem;
}
.otp .form-control{
    text-align: center;
}
.login-page .form-control{
    text-align: center;
}
.form-control{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
}
.form-control:focus{
    background-color: transparent;
    border-bottom: 1px solid #36356d;
    background-color: none;
    box-shadow: none;
}
a{
    color: #36356d;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.main{
    padding: 1.5rem;
}
.main .room-select{
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.main .room-select h3{
    padding: 0;
}
/* room */
.nav.nav-tabs{
    min-width: 100%;
}
.room .nav-link{
    color: #555;
}
.room .nav-link.active{
    color: #36356d;
}
.room nav {
    overflow-x: scroll;
}
.room .tab-pane{
    padding: 1rem;
    border: 1px solid #DDD;
    border-top: none;
}
.suggestions{
    min-height: 100vh;
    display: none;
}
.select-room h2{
    display: flex;
    align-self: center;
}
.form-check {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    align-items: center;
}
.form-check-input{
    width: 1.75rem;
    height: 1.75rem;
}
.room>h1{
    margin-bottom: 1rem;
}
.navbar-brand{
    margin-right: auto;
}
.navbar-toggler{
    border: none;
    box-shadow: none !important;
}
.form-check-input:focus{
    box-shadow: none;
}
.form-check-input:checked{
    background-color: #36356d;
    border-color: #36356d;
}
.form-check-label>span{
    color:#aaa;
    font-size: 12px;
}
.compo{
    height: 100%;
}
.compo1{
    background-color: #cce7d3;
}
.compo2{
    background-color: #adebff;
}
.compo3{
    background-color: #feeef0;
}
.compo4{
    background-color: #bde4e8; /*Curtain*/
}
.compo5{
    background-color: #dad9d8; /*Heavy Load*/
}
.compo6{
    background-color: #eff5d9; /*Fan*/
}
.compo7{
    background-color: #e1cba1; /*dimmer*/
}
.compo8{
    background-color: #ccebf4;
}
.compo>h3>span{
    font-size: 14px;
    margin-left:10px;
}
/* cart */
.cart{
    background-color: #fff;
    padding: 2px 1rem;
    box-shadow: 0 0 5px #aaa;
    width: 100%;
}
.cart h6{
    margin: 0;
    font-weight: 600;
    text-align: center;
    color: #888;
    display: flex;
    align-items: center;
}
.cart h6 b{
    color: #111;
}
.cart-title{
    display:flex;
}
.cart-title button{
margin-left:auto;
}
.panel-h5{
    background: #000;
    color: #fff;
    padding: 0.25rem 0.5rem;
    text-align: center;
}
.room-arrows{
    max-width: 6.5rem;
}
.room-arrow{
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: #fff;
    padding: .5rem 1rem;
    background: #36356d;
}
.room-arrow-left span{
    margin-right: 1rem;
}
.room-arrow-right{
    text-align: right;
}
.room-arrow-right span{
    margin-left: 1rem;
    /* color: #fff;
    padding: 1rem 0.5rem;
    background: #36356d; */
}
.room-arrow:hover{
    text-decoration: none;
}
#ajax-progress{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}
.suggestions_list table tr td:first-child {
    width: 50px !important;
    padding-left: 10px !important;
}
.suggestions_list table tr:nth-child(odd) {
    background-color: #f4f4f4 !important;
}
.suggestions_list table tr{
    height: 50px !important;
}
.invoice_main{
    overflow: scroll;
}
#invoice_wrapper{
    width: 1080px;
}